@{
    ViewData["Title"] = "Login Page";
}
<div class="row">
    <div class="col-md-6">
        <img src="../images/Login.jpg">
    </div>
    <div class="col-md-6">
        <form method="post">
            <fieldset>
            <legend>Login</legend>
            <div>
                <label for="email"> User Name:</label>
                <input type="text" class="form-control"name="userName" id="username" value="" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" id="password" value="" />
            </div>
            
            <div>
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-default" value="Submit" class="submit" />
            </div>
            </fieldset>
        </form>
    </div>
</div>
