@{
    ViewData["Title"] = "Edit Page";
}

<div>
    <form method="post" action="">
        <!-- <label>Product Id <input type="number" name="productId"></label> -->
        <label>Title <input type="text" name="title"></label>
        <label>Description <input type="text" name="description"></label>
        <label>Unit Price <input type="number" name="unitPrice"></label>
        <label>Category Id <input type="number" name="categoryId"></label>
        <label>Unit in Stock <input type="number" name="unitInStock"></label>
        <input type="submit" name="btn" value="submit">
    </form>
    
</div>
