@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <form method="post">
        <label>User Id <input type="number" name="username" class="form-control"></label>
        <label>Password <input type="password" name="password" class="form-control"></label>
        <input type="submit" name="Login" value="Login" class="btn btn-default">
    </form>
</div>
