@{
    ViewData["Title"] = "Register Page";
}

<a href="Login">Login</a>

<div class="text-center">
    <form method="post">
        <label>User Name <input type="text" name="username" class="form-control"></label>
        <label>Password <input type="password" name="password" class="form-control"></label>
        <input type="submit" name="register" value="Register" class="btn btn-default">
    </form>
</div>
